html, body {
  height: 100%;
}

#root {
  height: 100%;
  background: rgba(229, 229, 229, 0.85) url("assets/dining.png");
  background-size: cover;
}

.App {
  text-align: center;
  background-color: lightblue;
}
